<header role="banner" style="background:#fff; border-bottom:1px solid #E5E7EB;">
  <div class="nhsuk-width-container nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <a href="/" class="nhsuk-link">
          <img src="/images/BPOR-logo.svg" height="50" alt="Be Part of Research Logo">
        </a>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-text-align-right">
        <a href="/" class="nhsuk-link">
          <img src="/images/NHSLogodesk.png" alt="NIHR | National Institute for Health and Care Research"style="height:32px">
        </a>
      </div>
    </div>
  </div>
</header>