{% extends "layout.html" %}
{% block pageTitle %}Registration submitted{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--confirmation">
        <h1 class="nhsuk-panel__title">Your registration has<br>been submitted</h1>
      </div>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-4">What happens next?</h2>
      <p class="nhsuk-body">
        Once your email is verified, we’ll review your details and notify you when your account has been approved.
      </p>
      <p class="nhsuk-body">
        If we need any more information, a member of the team will contact you.
      </p>

      <p class="nhsuk-body">
        <a href="/">Return to the prototype hub</a>
      </p>

    </div>
  </div>
</div>
{% endblock %}
