{% set pageTitle = "Set your inclusion and exclusion criteria" %}
{% extends "researcher/layout-researcher.html" %}

{% set containerClasses = "dashboard" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Back"
      }) }}

<h1 class="nhsuk-heading-xl">{{ pageTitle }}</h1>

<p class="nhsuk-body">
  We collect volunteers' personal data such as age, location and sex at birth when they create their Be Part of Research account. 
</p>

<p class="nhsuk-body">
  We use this to match volunteers to your study so you do not need to add these demographic criteria to your pre-screener.
</p>

<div id="recruitByMedication-hint" class="nhsuk-hint">
    Select one or more options.
</div>

<form action="/researcher/prescreener/choose-methods" method="post" novalidate>
  <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">Add health conditions</h2>
  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
    <div class="nhsuk-checkboxes">
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="recruitByConditions" name="recruitByConditions" type="checkbox" {% if data.prescreener.choices.recruitByConditions %}checked{% endif %}>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="recruitByConditions">Recruit by health condition</label>
      </div>
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="excludeByConditions" name="excludeByConditions" type="checkbox" {% if data.prescreener.choices.excludeByConditions %}checked{% endif %}>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="excludeByConditions">Exclude by health condition</label>
      </div>
    </div>
  </fieldset>

  <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">Add medications</h2>
  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
    <div class="nhsuk-checkboxes">
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="recruitByMedication" name="recruitByMedication" type="checkbox" {% if data.prescreener.choices.recruitByMedication %}checked{% endif %}>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="recruitByMedication">Recruit by medication</label>
      </div>
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="excludeByMedication" name="excludeByMedication" type="checkbox" {% if data.prescreener.choices.excludeByMedication %}checked{% endif %}>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="excludeByMedication">Exclude by medication</label>
      </div>
    </div>
  </fieldset>

  <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">Add additional questions</h2>

  <div id="additionalQuestions-hint" class="nhsuk-hint">
    You can add up to 5 additional questions. Any questions you add must have a yes or no answer.
  </div>

  <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
    <div class="nhsuk-checkboxes">
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="additionalQuestions" name="additionalQuestions" type="checkbox" {% if data.prescreener.choices.additionalQuestions %}checked{% endif %}>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="additionalQuestions">
          I’d like to add additional questions
        </label>
      </div>
    </div>
  </fieldset>

  <button class="nhsuk-button" type="submit">Save and continue</button>
</form>

  </div>
</div>

{% endblock %}
