{% set pageTitle = "Pre-screener submitted" %}
{% extends "researcher/layout-researcher.html" %}

{% set containerClasses = "dashboard" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
<div class="nhsuk-panel nhsuk-panel--confirmation">
  <h1 class="nhsuk-panel__title">Pre-screener submitted</h1>
  <div class="nhsuk-panel__body">
    <strong>Your pre-screener has been submitted to the NIHR admin team for approval</strong>
  </div>
</div>

<p class="nhsuk-body">We’ll review your questions and email you to either:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>approve your pre-screener</li>
  <li>ask you to make some changes and resubmit your pre-screener for another review</li>
</ul>

<p class="nhsuk-body">After we’ve approved your pre-screener, it’s ready to send out.</p>

<p class="nhsuk-body">You can also download a copy of your pre-screener.</p>

<form action="/researcher" method="get" class="nhsuk-u-margin-top-4">
  <button class="nhsuk-button" type="submit">Finish</button>
</form>

  </div>
</div>

{% endblock %}
