{% set pageTitle = "Pre-screener submitted" %}
{% extends "researcher/layout-researcher.html" %}

{% set containerClasses = "dashboard" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
<div class="nhsuk-panel nhsuk-panel--confirmation">
  <h1 class="nhsuk-panel__title">Pre-screener submitted</h1>
</div>

<p class="nhsuk-body">We’ll review your pre-screener and email you to either:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>confirm it’s ready to be sent out</li>
  <li>ask you to make some changes and resubmit it for another review</li>
</ul>

<p class="nhsuk-body">You can also <a href="#">download a copy of your pre-screener</a>.</p>

  </div>
</div>

{% endblock %}
