{% set pageTitle = "Add additional questions" %}
{% extends "researcher/layout-researcher.html" %}

{% set containerClasses = "dashboard" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Back"
      }) }}

  <h1 class="nhsuk-heading-xl">{{ pageTitle }}</h1>

  <p class="nhsuk-body">You can add up to 5 further questions.</p>

  <p class="nhsuk-body">Before you submit these, you should check:</p>

  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>the order they’re in</li>
    <li>the wording, spelling and punctuation </li>
  </ul>

  <p>Your questions will appear to potential participants exactly as you enter them.</p>

    <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Collecting volunteers' data
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You should only collect data that’s relevant to your study.</p>
    <p>Any questions you ask must comply with the data retention policies for Recruit Registry Volunteers.</p>
  </div>
</details>


{{ warningCallout({
  heading: "Important",
  text: "You can only enter questions with a yes or no answer."
}) }}



  {# Prefill from session #}
  {% set q = (data.prescreener and data.prescreener.questions and data.prescreener.questions[0]) or {} %}
  {% set exclusion = q.exclusion | default('no-exclusion') %}
  {% set matchVal  = q.matchValue | default('') %}

  <form method="post" action="/researcher/prescreener/questions/save" novalidate>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-label--l" for="questionText">Question 1</label>
      <textarea class="nhsuk-textarea" id="questionText" name="questionText" rows="4" maxlength="200">{{ q.text | default('') }}</textarea>
      <div class="nhsuk-hint">You can enter up to 200 characters</div>
    </div>

    <h3 class="nhsuk-heading-m nhsuk-u-margin-top-4">Which answer should be given to continue to the next phase?</h3>
    <p class="nhsuk-hint nhsuk-u-margin-bottom-2">
      Select the answer needed to continue to the next phase of your study.
    </p>
    <div class="nhsuk-radios nhsuk-radios--inline" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="matching-yes" name="matchingAnswe" type="radio" value="yes" {% if data['matchingAnswer'] == "yes" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="matching-yes">
          Yes
          </label>
          {% if data['matchingAnswer'] == "yes" %}checked{% endif %}
      </div>
      <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="matching-no" name="matchingAnswer" type="radio" value="no" {% if data['matchingAnswer'] == "no" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="matching-no">
          No
          </label>
      </div>
    </div>


    <div class="nhsuk-form-group nhsuk-u-margin-top-6">
      <label class="nhsuk-label nhsuk-label--l" for="questionText">Question 2</label>
      <textarea class="nhsuk-textarea" id="questionText" name="questionText" rows="4" maxlength="200"></textarea>
      <div class="nhsuk-hint">You can enter up to 200 characters</div>
    </div>

    <h3 class="nhsuk-heading-m nhsuk-u-margin-top-4">Which answer should be given to continue to the next phase?</h3>
    <p class="nhsuk-hint nhsuk-u-margin-bottom-2">
      Select the answer needed to continue to the next phase of your study.
    </p>
    <div class="nhsuk-radios nhsuk-radios--inline" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="matching-yes" name="matchingAnswe" type="radio" value="yes" {% if data['matchingAnswer'] == "yes" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="matching-yes">
          Yes
          </label>
          {% if data['matchingAnswer'] == "yes" %}checked{% endif %}
      </div>
      <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="matching-no" name="matchingAnswer" type="radio" value="no" {% if data['matchingAnswer'] == "no" %}checked{% endif %}>
          <label class="nhsuk-label nhsuk-radios__label" for="matching-no">
          No
          </label>
      </div>
    </div>

<div class="nhsuk-u-margin-top-6">
  <button type="submit"
          class="nhsuk-button nhsuk-button--secondary"
          name="__action"
          value="add-another">
    Add another question
  </button>

  <button type="submit"
          class="nhsuk-button nhsuk-u-margin-left-2"
          name="__action"
          value="continue">
    Save and continue
  </button>
</div>

  </form>


{% endblock %}
