{% set pageTitle = "Create a pre-screener for your study" %}
{% extends "researcher/layout-researcher.html" %}

{% set containerClasses = "dashboard" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Back"
      }) }}

<h1 class="nhsuk-heading-xl">{{ pageTitle }}</h1>

<p class="nhsuk-body">
  You can use this service to set pre-screening criteria for potential study participants.
</p>

<p class="nhsuk-body">
  You can include or exclude people by:
</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>health condition</li>
  <li>medication</li>
  <li>other pre-screening requirements</li>
</ul>

<h2 class="nhsuk-heading-m">Before you start</h2>

<p class="nhsuk-body">We’ll ask for your:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>full study name</li>
  <li>study ID</li>
  <li>email address</li>
</ul>

<div class="nhsuk-inset-text">
  <p>
    Our admin team will review your completed pre-screener and contact you to let you know when it can go live.
  </p>
</div>

<form action="/researcher/prescreener/study-details" method="get">
  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
    Start now
  </button>
</form>

  </div>
</div>
{% endblock %}
