{% set pageTitle = "Enter your study information" %}
{% extends "researcher/layout-researcher.html" %}

{% set containerClasses = "dashboard" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Back"
      }) }}
<h1 class="nhsuk-heading-xl">{{ pageTitle }}</h1>

<form action="/researcher/prescreener/study-details" method="post" novalidate>
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="study-name">Full study name</label>
    <textarea class="nhsuk-textarea" id="study-name" name="study[name]" rows="3" value="{{ data.prescreener.study.name }}"></textarea>
  </div>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="study-id">Be Part of Research study ID</label>
    <div id="study-id-hint" class="nhsuk-hint">
      It’s in your pre-screener confirmation email - for example, BPOR00123
    </div>
    <input class="nhsuk-input nhsuk-input--width-10" id="study-id" name="study[id]" aria-describedby="study-id-hint" value="{{ data.prescreener.study.id }}">
  </div>

  <button class="nhsuk-button" type="submit">Save and continue</button>
</form>

  </div>
</div>
{% endblock %}
