{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}Do you have type 2 diabetes?{% endblock %}

{% block content %}

<a class="nhsuk-back-link" href="/volunteer-iteration-v1/start">Go back</a>

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <form action="/{{folder}}/condition" method="post" novalidate>
      <h1 class="nhsuk-heading-xl">Do you have type 2 diabetes?</h1>

      <div class="nhsuk-form-group">

    <div class="nhsuk-radios nhsuk-radios--inline" data-module="nhsuk-radios" name="Condition">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="do-you-have-diabetes" name="Condition" type="radio" value="Yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-inline-2" name="Condition" type="radio" value="No">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
          No
        </label>
      </div>
    </div>
  </fieldset>

  
</div>

<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
          </button>

</form>

{% endblock %}