{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}Would you consent to the randomised double-blind crossover administration of the target medication or placebo?{% endblock %}

{% block content %}

<a class="nhsuk-back-link" href="/volunteer-iteration-v1/free-form4">Go back</a>

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <form action="/{{folder}}/free-form-five" method="post">
      <h1 class="nhsuk-heading-xl">Would you consent to the randomised double-blind crossover administration of the target medication or placebo?</h1>

      <div class="nhsuk-form-group">

    <div class="nhsuk-radios nhsuk-radios--inline" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-inline" name="FreeFormFive" type="radio" value="Yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-inline-2" name="FreeFormFive" type="radio" value="No">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
          No
        </label>
      </div>
    </div>
  </fieldset>

  
</div>

<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
          </button>

</form>

{% endblock %}