<!-- app/views/volunteer-iteration-v1/layout.html -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {% include "bpor-branding/bpor-header.html" %}
{% endblock %}

{% block footer %}
  {% include "bpor-branding/bpor-footer.html" %}
{% endblock %}

{% block bodyEnd %}
  <script src="/nhsuk-frontend/nhsuk-frontend.min.js"></script>
  <script>
    try {
      if (window.NHSUKFrontend && typeof window.NHSUKFrontend.initAll === 'function') {
        window.NHSUKFrontend.initAll()
      }
    } catch (e) {}
  </script>
  {% include "includes/scripts.html" %}
  {% block pageScripts %}{% endblock %}
{% endblock %}
