{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}Pre-screener start{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1>Sign in to Be Part of Research</h1>
    <p>Choose an option below to sign in. You can only use NHS login if you live in England or Wales.</p>

    <div class="nhsuk-button-group">

      <a class="nhsuk-button nhsuk-button--login" href="website-1">
        Continue to NHS login
      </a>

      <a class="nhsuk-button nhsuk-button--secondary" href="website-1">
        Sign in with email address
      </a>

    </div>

    <p>Need an account? <a href="">Register here</a>.</p>


    </div>
  </div>
</div>
{% endblock %}
