{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}Pre-screener start{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel">
  <h1 class="nhsuk-panel__title">
    You can take part in this study
  </h1>
</div>
      
      <p class="nhsuk-body">We've sent an email to [user email address] to let you know:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>the expected start date for the study</li>
        <li>contact details for the study if you have any further questions</li>
        <li>what to do if you no longer want to take part in this study</li>
    </ul>


{% endblock %}
