{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}You’re eligible for the next stage of the study{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {{ panel({
      titleText: "You’re eligible for the next stage of the study",
      text: "A researcher will contact you with the next steps"
    }) }}

    <p>You can take part in the next stage of the study.</p>
    <p>A researcher will contact you soon to explain the next stage of the study. They may ask for some further information to confirm whether you can take part.</p>

    <h2 class="nhsuk-heading-m">Check your email</h2>

    <p>We've sent an email to joe.bloggs@gmail.com to let you know:</p>

    <ul>
      <li>how and when you’ll be contacted</li>
      <li>contact details if you have any further questions</li>
      <li>what to do if you no longer want to take part - you can change your mind at any time</li>
    </ul>

    </div>
  </div>
</div>
{% endblock %}
