{% extends "bpor-layout.html" %}
{% block pageTitle %}Are you taking Metformin?{% endblock %}

{% block content %}

<a class="nhsuk-back-link" href="/volunteer-iteration-v1/condition">Go back</a>

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <form action="/volunteer-iteration-v1/diagnosis" method="post" novalidate>
      <h1 class="nhsuk-heading-xl">Are you taking Metformin?</h1>

      <div class="nhsuk-form-group">

    <div class="nhsuk-radios nhsuk-radios--inline" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-inline" name="Medication" type="radio" value="Yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-inline-2" name="Medication" type="radio" value="No">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
          No
        </label>
      </div>
    </div>
  </fieldset>

  
</div>

<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
Save and continue
 </button>

</form>

{% endblock %}