{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}We cannot offer you a place on this study{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1>We cannot offer you a place on this study</h1>

    <p>We screen all volunteers carefully to make sure the study is safe and appropriate for anyone who wants to take part.</p>
    <p>Based on the answers you've given us, we cannot offer you a place on this study.</p>

    <h2 class="nhsuk-heading-m">Be part of other studies</h2>

    <p>You can <a href="https://bepartofresearch.nihr.ac.uk/results/search-results">check our website</a> to see if there’s any other studies you’re interested in.</p>


    </div>
  </div>
</div>
{% endblock %}