{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}You cannot take part in this study{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1>You cannot take part in this study</h1>

    <p>Your eligibility is checked carefully to make sure it’s safe and appropriate for you to take part. </p>
    <p>Based on the answers you've given us, you cannot continue to the next stage of this study.</p>

    <h2 class="nhsuk-heading-m">Find out about other studies</h2>

    <p>You can <a href="https://bepartofresearch.nihr.ac.uk/results/search-results">find other studies that may interest you</a> on our website.</p>

    <p>You can search by:</p>

    <ul>
      <li>health conditions </li>
      <li>medication</li>
      <li>location</li>
    </ul>

    </div>
  </div>
</div>
{% endblock %}