{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}We may contact you about this study in the future{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1>We may contact you about this study in the future</h1>

    <p>You're eligible to take part in this study but there are no suitable places right now.</p>
    <p>We’ll contact you if a place becomes available.</p>

    <h2 class="nhsuk-heading-m">Check your email</h2>

    <p>We've sent an email to joe.bloggs@gmail.com to let you know:</p>

    <ul>
      <li>confirm we’ve got your details</li>
      <li>let you know how we’ll contact you if a place on this study becomes available</li>
      <li>let you know what to do if you no longer want to take part - you can change your mind at any time and we’ll delete all your data relating to this study</li>
    </ul>

    </div>
  </div>
</div>
{% endblock %}