{% extends "volunteer-iteration-v1/layout.html" %}
{% block pageTitle %}How would you like us to contact you?{% endblock %}

{% block content %}
<form action="/{{folder}}/review-details" method="post" novalidate>

<a class="nhsuk-back-link" href="/volunteer-iteration-v1/free-form-five">Go back</a>


<div class="nhsuk-width-container">

  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">How would you like us to contact you?</h1>

      <p>We can contact you by email or phone.</p>

      <h2 class="nhsuk-heading-m">Your current contact details</h2>

      <p>Check the contact details we currently have for you. You should update them if they are not correct. </p>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Joe Bloggs"
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "joe.bloggs@gmail.com"
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m">Add your phone number</h2>

      <p>We’ll use your phone number to contact you about this study. If you do not add a phone number, we’ll contact you by email.</p>

      {{ input({
        label: {
          text: "Phone number"
        },
        id: "phoneNumber",
        name: "phoneNumber",
        type: "tel",
        autocomplete: "tel",
        classes: "nhsuk-input--width-20"
      }) }}

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
      
</div>
</form>

{% endblock %}