{% extends "layouts/main.html" %}
{% set title = pageTitle or "Conditions added" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-xl">Selected conditions</h1>

    {% if data.conditions | length %}
      <dl class="nhsuk-summary-list">
        {% for c in data.conditions %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">{{ c }}</dt>
          <dd class="nhsuk-summary-list__actions">
            <a href="/recruit/condition">Change<span class="nhsuk-u-visually-hidden"> {{ c }}</span></a>
          </dd>
        </div>
        {% endfor %}
      </dl>
    {% else %}
      <p>No conditions selected.</p>
    {% endif %}

    <a class="nhsuk-button" href="/recruit/condition">Back</a>
  </div>
</div>
{% endblock %}
