<!-- app/views/admin/create-admin-account-success.html -->
{% extends "layout.html" %}
{% block pageTitle %}This administrator account has been successfully created{% endblock %}
{% block content %}
<div class="nhsuk-width-container">
  {% include "admin/_signed-in-header.html" %}
  <div class="nhsuk-grid-row">
    {% include "admin/_side-nav.html" %}
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">This administrator account has been successfully created</h1>
      <p class="nhsuk-body">The administrator account has been created.</p>
      <p class="nhsuk-body">The account holder will receive a confirmation email with their login details.</p>
      <p class="nhsuk-body nhsuk-u-margin-top-4"><a href="/admin/accounts/new">Create another administrator account</a></p>
   <!--    <p class="nhsuk-body"><a href="/admin/requests">Back to account requests</a></p>-->
    </div>
  </div>
</div>
{% endblock %}
