<!-- app/views/admin/dashboard.html -->
{% extends "layout.html" %}
{% block pageTitle %}Admin dashboard{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  {% include "admin/_signed-in-header.html" %}

  <div class="nhsuk-grid-row">
    {% include "admin/_side-nav.html" %}

    <div class="nhsuk-grid-column-three-quarters">
      <!-- H1: Admin name + 'dashboard' -->
      <h1 class="nhsuk-heading-xl">{{ user.name }}'s dashboard</h1>

      <div class="nhsuk-grid-row nhsuk-u-margin-top-2">

        <!-- Account requests -->
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-4">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/admin/requests">Account requests</a>
              </h2>
              <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">
                <span class="nhsuk-tag nhsuk-tag--red">{{ accountRequestsNew | default(0) }} new</span>
              </p>
              <p class="nhsuk-body">Approve new requests for a {{ serviceName | lower }} account.</p>
            </div>
          </div>
        </div>

        <!-- Administrator account requests / management -->
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-4">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/admin/users">Administrator account requests</a>
              </h2>
              {% if adminAccountNew is defined and adminAccountNew > 0 %}
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">
                  <span class="nhsuk-tag nhsuk-tag--red">{{ adminAccountNew }} new</span>
                </p>
              {% endif %}
              <p class="nhsuk-body">Approve administrator accounts or add rights to existing accounts.</p>
            </div>
          </div>
        </div>

        <!-- Pre-screener approvals -->
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-4">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/admin/studies">Pre-screener approvals</a>
              </h2>
              <p class="nhsuk-body-s nhsuk-u-margin-bottom-2">
                <span class="nhsuk-tag nhsuk-tag--red">{{ preScreenerNew | default(0) }} new</span>
              </p>
              <p class="nhsuk-body">Review new pre-screener requests from researchers.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}
