<!-- app/views/admin/request-approved.html -->
{% extends "layout.html" %}
{% block pageTitle %}This account has been approved{% endblock %}
{% block content %}
<div class="nhsuk-width-container">
  {% include "admin/_signed-in-header.html" %}
  <div class="nhsuk-grid-row">
    {% include "admin/_side-nav.html" %}
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">This account has been approved</h1>
      <p class="nhsuk-body">The researcher will receive a confirmation email and will have to set their own password.</p>
      <p class="nhsuk-body nhsuk-u-margin-top-4"><a href="/admin/requests">Back to dashboard</a></p>
    </div>
  </div>
</div>
{% endblock %}
