<!-- app/views/admin/request-approve-confirm.html -->
{% extends "layout.html" %}
{% block pageTitle %}Are you sure you want to approve this account?{% endblock %}
{% block content %}
<div class="nhsuk-width-container">
  {% include "admin/_signed-in-header.html" %}
  <div class="nhsuk-grid-row">
    {% include "admin/_side-nav.html" %}
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Are you sure you want to approve this account?</h1>
      <p class="nhsuk-body">The researcher will be approved and they’ll receive a confirmation email.</p>
      <form action="/admin/requests/{{ item.id }}/approve" method="post">
        <button class="nhsuk-button" type="submit" data-module="nhsuk-button">Confirm</button>
        <a class="nhsuk-button nhsuk-button--secondary" href="/admin/requests/{{ item.id }}">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
