{% extends "bpor-layout.html" %}

{% block pageTitle %}Pre-screener overviewnpm run{% endblock %}

{% block content %}
<a class="nhsuk-back-link" href="approve-other">Go back</a>
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <form action="pre-screener-approved" method="post" novalidate>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Review the pre-screener questions</h1>

        <h2 class="nhsuk-heading-m">
         Conditions questions
        </h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Conditions
            </dt>
            <dd class="nhsuk-summary-list__value">
              Alzheimer's
            </dd>
          </div>
          </dl>
        <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag nhsuk-tag--green">
        Approved
        </strong>
        </dd>
        <br>
        <p class="nhsuk-body">You have approved this question</p>

         <p class="nhsuk-body"><a href="">Edit response</a></p>
        
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Disqualifying conditions
            </dt>
            <dd class="nhsuk-summary-list__value">
              HIV
            </dd>
          </div>
          </dl>
        <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag nhsuk-tag--green">
        Approved
        </strong>
        </dd>
        <br>
        <p class="nhsuk-body">You have approved this question</p>

         <p class="nhsuk-body"><a href="">Edit response</a></p>

        <h2 class="nhsuk-heading-m">
         Medication questions
        </h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Medication
            </dt>
            <dd class="nhsuk-summary-list__value">
              Donepezil
            </dd>
          </div>
          </dl>
        <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag nhsuk-tag--green">
        Approved
        </strong>
        </dd>
        <br>
        <p class="nhsuk-body">You have approved this question</p>

         <p class="nhsuk-body"><a href="">Edit response</a></p>
        
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Disqualifying medication
            </dt>
            <dd class="nhsuk-summary-list__value">
              Metformin
            </dd>
          </div>
          </dl>
        <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag nhsuk-tag--green">
        Approved
        </strong>
        </dd>
        <br>
        <p class="nhsuk-body">You have approved this question</p>

         <p class="nhsuk-body"><a href="">Edit response</a></p>
        

         <h2 class="nhsuk-heading-m">
         Other questions
        </h2>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Question 1:
            </dt>
            <dd class="nhsuk-summary-list__value">
             Are you currently pregnant?
            </dd>
            </div>
            <dt class="nhsuk-summary-list__key">
              Qualifying answer 1:
            </dt>
            <dd class="nhsuk-summary-list__value">
             No
            </dd>
        </dl>

         <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag nhsuk-tag--green">
        Approved
        </strong>
        </dd>
        <br>
        <p class="nhsuk-body">You have approved this question</p>

         <p class="nhsuk-body"><a href="">Edit response</a></p>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Question 2:
            </dt>
            <dd class="nhsuk-summary-list__value">
             Are you over the age of 25?
            </dd>
            </div>
            <dt class="nhsuk-summary-list__key">
              Qualifying answer 2:
            </dt>
            <dd class="nhsuk-summary-list__value">
             Yes
            </dd>
        </dl>

         <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag nhsuk-tag--green">
        Approved
        </strong>
        </dd>
        <br>
        <p class="nhsuk-body">You have approved this question</p>

        <p class="nhsuk-body"><a href="">Edit response</a></p>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Question 3:
            </dt>
            <dd class="nhsuk-summary-list__value">
             Have you lived in the UK for the past 5 years?
            </dd>
            </div>
            <dt class="nhsuk-summary-list__key">
              Qualifying answer 3:
            </dt>
            <dd class="nhsuk-summary-list__value">
             Yes
            </dd>
        </dl>

         <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag nhsuk-tag--green">
        Approved
        </strong>
        </dd>
        <br>
        <p class="nhsuk-body">You have approved this question</p>

        <p class="nhsuk-body"><a href="">Edit response</a></p>
  

          <div class="nhsuk-button-group">

  <button class="nhsuk-button nhsuk-button" data-module="nhsuk-button" type="submit">
    Approve this pre-screener
  </button>

  <a href="review-summary-volunteer" role="button" class="nhsuk-button nhsuk-button--secondary">
  Volunteer view
</a>

<p class="nhsuk-body"><a href="">Download pre-screener</a></p>


        </form>

      </div>
    </div>
  </main>
</div>

   {% endblock %}