{% extends "researcher/layout-researcher.html" %}

{% set containerClasses = "dashboard" %}

{% block content %}

    {{ backLink({
        "href": "start",
        "text": "Back"
      }) }}
      
<h1 class="nhsuk-heading-xl">Pre-screener summary report for Cognitive therapy in Dementia</h1>

<p class="nhsuk-body-l">
  This report shows the current status of pre-screeners that have been completed
</p>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    
  {{ button({
    text: "Show filters (3)",
    classes: "nhsuk-button--secondary",
    href: "report-overview-filters"
  }) }}

  </div>
  <div class="nhsuk-grid-column-one-half">

<div class="nhsuk-button-group flex-right">
  <a href="manage-collaborators" class="nhsuk-link">Manage collaborators</a>

  {{ button({
    text: "Add a collaborator",
    classes: "nhsuk-button--secondary",
    href: "add-collaborator"
  }) }}
  
</div>    

  </div>
</div>

<p></p>

{{ table({
  responsive: false,
  panel: false,
  firstCellIsHeader: true,
  head: [
    {
      text: "Volunteer name"
    },
    {
      text: "Email address"
    },
    {
      text: "Phone number"
    },
    {
      text: "Date submitted"
    },
    {
      text: "Match to study"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        text: "Dr Suzie Walker"
      },
      {
        text: "Suzie.Walker@bham.ac.uk"
      },
      {
        text: "077321 972711"
      },
      {
        text: "11 August 2025"
      },
      {
        text: "Complete match"
      },
      {
        html: '
<div class="nhsuk-form-group">
  <select class="nhsuk-select" id="sort-by" name="sortBy">
    <option value="1" selected>Awaiting contact</option>
    <option value="2">Attempted contact</option>
    <option value="3">Successfully contacted</option>
    <option value="4">Recruited / Enrolled</option>
    <option value="5">Not eligible</option>
    <option value="6">Volunteer declined</option>
  </select>
</div>
        '
      }
    ]
  ]
}) }}

{{ pagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: '#'
    },
    {
      ellipsis: true
    },
    {
      number: 8,
      href: '#'
    },
    {
      number: 9,
      href: '#'
    },
    {
      number: 10,
      href: '#',
      current: true
    },
    {
      number: 11,
      href: '#'
    },
    {
      number: 12,
      href: '#'
    },
    {
      ellipsis: true
    },
    {
      number: 42,
      href: '#'
    }
  ]
}) }}


{% endblock %}
