{% extends "researcher/layout-researcher.html" %}

{% set containerClasses = "dashboard" %}

{% block pageTitle %}Manage pre-screeners{% endblock %}

{% block researcherContent %}

<h1 class="nhsuk-heading-l">Manage pre-screeners</h1>

{{ table({
  responsive: false,
  panel: false,
  firstCellIsHeader: true,
  head: [
    {
      text: "Full study name"
    },
    {
      text: "Screener ID"
    },
    {
      text: "Owner"
    },
    {
      text: "Status"
    },
    {
      text: "Actions"
    }
  ],
  rows: [
    [
      {
        text: "Cognitive therapy in Dementia"
      },
      {
        text: "DR-123456"
      },
      {
        text: "Sofia Martinez"
      },
      {
        html: '<strong class="nhsuk-tag nhsuk-tag--green">Approved</strong>'
      },
      {
        html: '<p><a href="report-overview">View report</a></p>'
      }
    ]
  ]
}) }}

<p>Showing 1 of 1 result(s)</p>


{% endblock %}
