{% extends "researcher/layout-researcher.html" %}
{% block pageTitle %}Feasibility: start{% endblock %}
{% block researcherContent %}
<h1 class="nhsuk-heading-l">Check study feasibility</h1>
<p class="nhsuk-body">We’ll estimate how many volunteers match your criteria. You can change criteria at any time.</p>
<div class="nhsuk-button-group">
  <a class="nhsuk-button" href="/researcher/feasibility/sites">Start now</a>
  <a class="nhsuk-link" href="/researcher/task-list">Back to task list</a>
</div>
{% endblock %}
