{% extends "researcher/layout-researcher.html" %}
{% block pageTitle %}Arms / sub-studies (optional){% endblock %}

{% block researcherContent %}
<h1 class="nhsuk-heading-l">Arms / sub-studies <span class="nhsuk-tag nhsuk-tag--grey">Optional</span></h1>
<p class="nhsuk-body">List each arm on a new line. This isn’t required for submission.</p>

<form method="post" action="/researcher/arms">
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="items">Arms</label>
    <textarea class="nhsuk-textarea" id="items" name="items" rows="6">{{ (model.list and model.list | join('\n')) or '' }}</textarea>
  </div>

  <div class="nhsuk-button-group">
    <button class="nhsuk-button" type="submit">Save</button>
    <a class="nhsuk-link nhsuk-link--no-visited-state" href="/researcher/task-list">Return to task list</a>
  </div>
</form>
{% endblock %}
