{% extends "layout.html" %}
{% block pageTitle %}Study submitted{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row"><div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--confirmation">
        <h1 class="nhsuk-panel__title">Your study has been submitted</h1>
        <div class="nhsuk-panel__body">We’ll review your study for eligibility. You’ll get an email when your study is live.</div>
      </div>

      <p><a href="/researcher/task-list">Manage your studies</a></p>

    </div></div>
  </main>
</div>
{% endblock %}
