{% extends "researcher/layout-researcher.html" %}
{% block pageTitle %}Demographic requirements{% endblock %}

{% block researcherContent %}
<h1 class="nhsuk-heading-l">Demographic requirements</h1>
<p class="nhsuk-body">We’ve prefilled these from your feasibility checks. Update if needed.</p>

{% if errors and errors.length %}
<div class="nhsuk-error-summary" role="alert" tabindex="-1">
  <h2 class="nhsuk-error-summary__title">There is a problem</h2>
  <div class="nhsuk-error-summary__body">
    <ul class="nhsuk-list nhsuk-error-summary__list">
      {% for e in errors %}
        <li><a href="{{ e.href }}">{{ e.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% set partialAction = "/researcher/demographics" %}
{% include "researcher/partials/demographics-form.html" %}
{% endblock %}
