{% extends "researcher/layout-researcher.html" %}
{% block pageTitle %}Create a study request{% endblock %}

{% block researcherContent %}
<h1 class="nhsuk-heading-l">Create a study request</h1>

<p class="nhsuk-body">
  First you’ll run a feasibility check, a quick way to see if there are enough suitable volunteers
  who match your study’s criteria. After that, you’ll add the study details for review and publishing.
</p>

<form action="/researcher/feasibility/platform" method="post" class="nhsuk-u-margin-top-4">
  <div class="nhsuk-button-group">
    <button type="submit" class="nhsuk-button" data-module="nhsuk-button">Start now</button>
    <a class="nhsuk-link nhsuk-link--no-visited-state" href="/researcher">Back to study management</a>
  </div>
</form>
{% endblock %}
