<style>
.govuk-skip-link {
      position: absolute;
      top: -40px;
      left: 0;
      overflow: hidden;
   }
  .govuk-back-link:focus, 
  .govuk-skip-link:focus {
    top:0;
    overflow: visible;
    background: #FED47A;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #003078;
    font-weight: 600;
    line-height: 1.25;
    text-decoration: underline;
    outline: none;  
    width: 100%;
  }
  .govuk-grid-row {
    margin-top: 20px;
    padding: auto;
  }
  .govuk-grid-column-two-thirds {
    max-width: auto;
    
  }
  .govuk-grid-column-one-third {
    max-width: 33.3333%;
    margin: auto
  }

  .govuk-width-container {
    max-width: 1020px;
    margin: 0 auto;
  }
  .govuk-heading-xl {
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 122% */
    color: var(--Navies-Navy-1, #193E72);
  }
  .govuk-list--bullet
  {
   color: #212B32;
   font-family: Lato;
   font-size: 19px;
   font-style: normal;
   font-weight: 400;
   line-height: 25px;
   width: 800px;
  }
  .govuk-grid-column-full {
    max-width: 1453px;
  }
  
 p {
    color: #212B32;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 800px;
  }

.translation {
    color: #212B32;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-align: left;
    width: auto;
    margin-left: 20px;
    padding: 20px;
  }
  
  a:link {
  color: #6667AD;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

a:hover {
  color: #003078;
  background-color: transparent;
  text-decoration: underline;
}

a:focus {
  outline: none;
  color: #000 !important;
  box-shadow: 0 -1px 0 0 #000 inset;
  padding: 5px; 
  background: #FED47A; /* Change to your desired hover color */
}

hr {
  border: 0;
  border-top: 1px solid #5A5555;
  margin: 20px 0;
}

.nhsuk-back-link {
  display: inline-flex;
  padding: 15px;
  align-items: flex-end;
  gap: 1px;
}

.nhsuk-back-link__link {
  font-family: Lato, Arial, sans-serif;
  font-size: 16px; 
  font-weight: 400;
}
.nhsuk-back-link__link .nhsuk-icon__chevron-left {
  fill: #6667AD; /* Change to your desired color */
  vertical-align: middle;
  margin-right: 1px;
  width: 16px;
  height: 16px;
}

.nhsuk-back-link__link:hover .nhsuk-icon__chevron-left {
  fill: #003078; /* Change to your desired hover color */
}


.nhsuk-back-link__link:focus .nhsuk-icon__chevron-left {
  fill:black; /* Change to your desired hover color */
}

.logos {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns logos to the left */
  gap: 16px; /* Optional: space between logos */
}

.logo-img {
  width: 137px;
  height: 40px;
  padding: 30px;
  vertical-align: middle;
  margin-right: 650; /* Remove large margin */
}

.bpor-logo {
  width: 133px;
  height: 35px;
  padding: 30px;
  vertical-align: middle;
  margin-right: 0; /* Remove large margin */
}

.nhs-logo-img {
  width: 100px;
  height: 40px;
  vertical-align: middle;
  margin-right: 0; /* Remove large margin */
}


.bpor-white {
  width: 133px;
  height: 35px;
  margin-left: 625px;
}

.shaw-trust {
width: 137px;
height: 40px;

}

.logo-img:hover,
.nhs-logo-img:hover,
.NIHR-Desktop-logo:hover,
.shaw-trust:hover,
.NIHR-white:hover,
.Health-and-care-research-wales-logo:hover,
.NHS-scot:hover,
.bpor-white:hover 
{
  background-color: none;
  outline: solid 4px #FED47A;
  border: 4px solid black
}

.logo-img:focus,
.nhs-logo-img:focus,
.NIHR-Desktop-logo:focus,
.shaw-trust:focus,
.NIHR-white:focus,
.Health-and-care-research-wales-logo:focus,
.NHS-scot:focus,
.bpor-white:focus 
{
  background-color: none;
  outline: solid 4px #FED47A;
  border: 4px solid black
}

.nhsuk-header {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  margin: 0 auto;

}

.nhsuk-footer {
  background-color: none;
  padding: 20px;
  width: 1020px;
  margin: 0 auto;

}

.nhsuk-footer-container {
  width: 100%;
  margin: 0 auto;
}

.footer-logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #335382;
  width: 100%;
  max-height: 203px;
  padding: 20px 0;
}

.footer-links-container {
  background: #193E72;
  width: 100%;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
  max-height: fit-content;
}

.nhsuk-footer__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  vertical-align: middle;
  gap: 90px;
  margin: 0;
  padding: 20px 0;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  max-height: fit-content;
}

.nhsuk-footer__list-item-link {
  color: #fff !important;
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  padding-bottom: 5px;
}

.nhsuk-footer__list-item-link:hover {
  color: #000 !important;
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  padding-bottom: 5px;
  background: #FED47A;
  padding: 5px;
}

.nhsuk-footer__list-item-link:focus {
  outline: none;
  color: #000 !important;
  box-shadow: 4 -1 px 0 0 #000 inset, 0 0 0 3px #FED47A;
  padding: 5px; 
  background: #FED47A;
  
}

.nhsuk-footer__copyright {
  color: #fff !important;
  margin-top: 16px;
  font-size: 14px;
  font-family: Lato, Arial, sans-serif;
}
.partners-container {
  flex-wrap: nowrap; /* Prevent wrapping on desktop */
    gap: 100px; /* Original larger gap */
    padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px; /* space between logos */
  background: #fff; /* example background color */
  width: 100%;
  max-height: 63px;
  padding: 20px 0;

  
}

</style>

<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="footer-logos-container">
      <img src="/images/shaw-trust.png" alt="shaw-trust" class="shaw-trust" tabindex="0">
      <img src="/images/NIHR-white.png" alt="BPOR logo white" class="bpor-white" tabindex="0">
    </div>
    <div class="footer-links-container">
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
        </li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
        </li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
        </li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
        </li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Terms and conditions</a>
        </li>
      </ul>
    <div class="partners-container">
        <img src="/images/NIHR-DESK.png" alt="NIHR Desktop logo" class="NIHR-Desktop-logo" tabindex="0">
        <img src="/images/public-health-agency.png" alt="NHS Logo" class="nhs-logo-img" tabindex="0">
        <img src="/images/Health-and-care-research-wales.png" alt="Health and care research wales logo" class="Health-and-care-research-wales-logo" tabindex="0">
        <img src="/images/NHS-scot.png" alt="NHS Scotland logo" class="NHS-scot" tabindex="0">
      </div>
    </div>
  </div>
</footer>