<style>
.logos {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns logos to the left */
  gap: 16px; /* Optional: space between logos */
}

.logo-img {
  width: 137px;
  height: 40px;
  padding: 30px;
  vertical-align: middle;
  margin-right: 650; /* Remove large margin */
}

.bpor-logo {
  width: 133px;
  height: 35px;
  padding: 30px;
  vertical-align: middle;
  margin-right: 0; /* Remove large margin */
}

.nhs-logo-img {
  width: 100px;
  height: 40px;
  vertical-align: middle;
  margin-right: 0; /* Remove large margin */
}


.bpor-white {
  width: 133px;
  height: 35px;
  margin-left: 625px;
}

.shaw-trust {
width: 137px;
height: 40px;

}

.logo-img:hover,
.nhs-logo-img:hover,
.NIHR-Desktop-logo:hover,
.shaw-trust:hover,
.NIHR-white:hover,
.Health-and-care-research-wales-logo:hover,
.NHS-scot:hover,
.bpor-white:hover 
{
  background-color: none;
  outline: solid 4px #FED47A;
  border: 4px solid black
}

.logo-img:focus,
.nhs-logo-img:focus,
.NIHR-Desktop-logo:focus,
.shaw-trust:focus,
.NIHR-white:focus,
.Health-and-care-research-wales-logo:focus,
.NHS-scot:focus,
.bpor-white:focus 
{
  background-color: none;
  outline: solid 4px #FED47A;
  border: 4px solid black
}

.nhsuk-header {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  margin: 0 auto;

}

.nhsuk-footer {
  background-color: none;
  padding: 20px;
  width: 1020px;
  margin: 0 auto;

}

.nhsuk-footer-container {
  width: 100%;
  margin: 0 auto;
}

.footer-logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #335382;
  width: 100%;
  max-height: 203px;
  padding: 20px 0;
}

.footer-links-container {
  background: #193E72;
  width: 100%;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
  max-height: fit-content;
}

.nhsuk-footer__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  vertical-align: middle;
  gap: 90px;
  margin: 0;
  padding: 20px 0;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  max-height: fit-content;
}

.nhsuk-footer__list-item-link {
  color: #fff !important;
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  padding-bottom: 5px;
}

.nhsuk-footer__list-item-link:hover {
  color: #000 !important;
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  padding-bottom: 5px;
  background: #FED47A;
  padding: 5px;
}

.nhsuk-footer__list-item-link:focus {
  outline: none;
  color: #000 !important;
  box-shadow: 4 -1 px 0 0 #000 inset, 0 0 0 3px #FED47A;
  padding: 5px; 
  background: #FED47A;
  
}

.nhsuk-footer__copyright {
  color: #fff !important;
  margin-top: 16px;
  font-size: 14px;
  font-family: Lato, Arial, sans-serif;
}
.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px; /* space between logos */
  background: #fff; /* example background color */
  width: 100%;
  max-height: 63px;
  padding: 20px 0;

  
}

</style>

<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="footer-logos-container">
      <img src="/images/shaw-trust.png" alt="shaw-trust" class="shaw-trust" tabindex="0">
      <img src="/images/NIHR-white.png" alt="BPOR logo white" class="bpor-white" tabindex="0">
    </div>
    <div class="footer-links-container">
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
        </li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
        </li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
        </li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
        </li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Terms and conditions</a>
        </li>
      </ul>
    <div class="partners-container">
        <img src="/images/NIHR-DESK.png" alt="NIHR Desktop logo" class="NIHR-Desktop-logo" tabindex="0">
        <img src="/images/public-health-agency.png" alt="NHS Logo" class="nhs-logo-img" tabindex="0">
        <img src="/images/Health-and-care-research-wales.png" alt="Health and care research wales logo" class="Health-and-care-research-wales-logo" tabindex="0">
        <img src="/images/NHS-scot.png" alt="NHS Scotland logo" class="NHS-scot" tabindex="0">
      </div>
    </div>
  </div>
</footer>