<!-- app/views/bpor-layout.html -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block header %}
<header role="banner" style="background:#fff; border-bottom:1px solid #E5E7EB;">
  <div class="nhsuk-width-container nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <a href="/" class="nhsuk-link">
          <img src="/images/nihr-logo-prototype.png" alt="NIHR | National Institute for Health and Care Research"style="height:50px">
        </a>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-text-align-right">
        <a href="/" class="nhsuk-link">
          <img src="/images/NHSLogodesk.png" alt="NIHR | National Institute for Health and Care Research"style="height:32px">
        </a>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block footer %}
<footer class="bpor-footer" role="contentinfo">
  <div class="bpor-footer-container">
    <div class="footer-logos-container">
      <img src="/images/shaw-trust.png" alt="shaw-trust" class="shaw-trust" tabindex="0">
      <img src="/images/NIHR-white.png" alt="BPOR logo white" class="bpor-white" tabindex="0">
    </div>
    <div class="footer-links-container">
      <ul class="bpor-footer__list">
        <li class="bpor-footer__list-item bpor-footer-default__list-item">
          <a class="bpor-footer__list-item-link" href="#">Accessibility statement</a>
        </li>
        <li class="bpor-footer__list-item bpor-footer-default__list-item">
          <a class="bpor-footer__list-item-link" href="#">Contact us</a>
        </li>
        <li class="bpor-footer__list-item bpor-footer-default__list-item">
          <a class="bpor-footer__list-item-link" href="#">Cookies</a>
        </li>
        <li class="bpor-footer__list-item bpor-footer-default__list-item">
          <a class="bpor-footer__list-item-link" href="#">Privacy policy</a>
        </li>
        <li class="bpor-footer__list-item bpor-footer-default__list-item">
          <a class="bpor-footer__list-item-link" href="#">Terms and conditions</a>
        </li>
      </ul>
      <div class="partners-container">
        <img src="/images/NIHR-DESK.png" alt="NIHR Desktop logo" class="NIHR-Desktop-logo" tabindex="0">
        <img src="/images/public-health-agency.png" alt="NHS Logo" class="nhs-logo-img" tabindex="0">
        <img src="/images/Health-and-care-research-wales.png" alt="Health and care research wales logo" class="Health-and-care-research-wales-logo" tabindex="0">
        <img src="/images/NHS-scot.png" alt="NHS Scotland logo" class="NHS-scot" tabindex="0">
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{% block bodyEnd %}
  <script src="/nhsuk-frontend/nhsuk-frontend.min.js"></script>
  <script>
    try {
      if (window.NHSUKFrontend && typeof window.NHSUKFrontend.initAll === 'function') {
        window.NHSUKFrontend.initAll()
      }
    } catch (e) {}
  </script>
  {% include "includes/scripts.html" %}
  {% block pageScripts %}{% endblock %}
{% endblock %}
